div {border-radius:15px 50px 30px 5px;
width: 400px;
height: 40px;
background: blue;
transition: height 3s;
}
div:hover {
 height: 300px;
}
a{text-decoration:none;
color:black;}
body{color:white;
background-color: green;
text-align:center;}
.po{float:right;
clear:both;}
#pe{float:left;}
#ce{clear:both;}
div {
 width: 400px;
 height: 100px;
 background-color: red;
 position: relative;
 animation-name: holi;
 animation-duration: 3s;
 animation-iteration-count:infinite;
}
@keyframes holi{
 0% {background-color:red; left:0px; top:0px;}
 25% {background-color:yellow; left:200px; top:0px;}
 50% {background-color:blue; left:200px; top:200px;}
 75% {background-color:green; left:0px; top:200px;}
 100% {background-color:red; left:0px; top:0px;}
}